<section>
  <div class="container is-fluid" style="margin-top: 1rem;max-width: 1000px;">
    <h1 class="title is-2" style="text-align: center;">About</h1>
    <div class="content is-medium box">
      <h1 class="title">The Project</h1>
      <p>
        coronalivedata.com started as a fun project and evolved into a website
        with up-to-date data and an interactive map (isn't that cool ?!). It's
        made with ❤️ using Angular and NodeJs.
      </p>
      <h1 class="title">Me</h1>
      <p>
        I'm Amine, a college student and full stack web developer based in Tunisia. I build
        open-source projects and blablabla... If you have any comments, ideas,
        critiques, or you just want to say hi, don't hesitate to send me an
        email at
        <a href="mailto:amine.feidi@gmail.com"
          ><strong>amine.feidi@gmail.com</strong></a
        >
        !
      </p>
    </div>
    <div class="content is-medium box">
      <h1 class="title">Data Source</h1>
      <p>John Hopkins University, Center for Systems Science and Engineering</p>
    </div>
  </div>
</section>
