<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="">
      <img
        src="../assets/icons/icon-72x72.png"
        width="28"
        height="28"
      />
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      [class.is-active]="navStatus"
      (click)="navToggle()"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    id="navbarBasicExample"
    class="navbar-menu"
    [class.is-active]="navStatus"
  >
    <div class="navbar-start">
      <a class="navbar-item" routerLink="" (click)="navToggle()">
        <span class="icon">
          <i class="material-icons">
            home
            </i>
        </span>
        <span>Overall</span>
      </a>
      <a class="navbar-item" routerLink="countries" (click)="navToggle()">
        <span class="icon">
          <i class="material-icons">
            place
            </i>
        </span>
        <span>Country</span>
      </a>
      <a class="navbar-item" routerLink="map" (click)="navToggle()">
        <span class="icon">
          <i class="material-icons">
            map
            </i>
        </span>
        <span>Map</span>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item tags has-addons are-medium">
        <span class="tag">Last Update:</span>
        <span class="tag is-success">{{ lastUpdate }} ago</span>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
