<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="">
      <img
        src="../assets/icons/icon-72x72.png"
        width="28"
        height="28"
      />
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      [class.is-active]="navStatus"
      (click)="navToggle()"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasic"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    id="navbarBasic"
    class="navbar-menu"
    [class.is-active]="navStatus"
  >
    <div class="navbar-start">
      <a *ngIf="userCountry" class="navbar-item" [routerLink]="['/details', userCountry.id]" (click)="navToggle()">
        <span class="icon">
          <img
                  src="../assets/svg/{{ nameToIcon(userCountry.name) }}.svg"
                  onerror="this.src = '../../assets/svg/white.svg';"
                />
        </span>
        <span style="text-decoration-line: underline;">{{userCountry.name}}</span>
      </a>
      <a class="navbar-item" routerLink="" (click)="navToggle()">
        <span class="icon">
          <i class="material-icons">
            home
            </i>
        </span>
        <span>Overall</span>
      </a>
      <a class="navbar-item" routerLink="countries" (click)="navToggle()">
        <span class="icon">
          <i class="material-icons">
            place
            </i>
        </span>
        <span>Country</span>
      </a>
      <a class="navbar-item" routerLink="map" (click)="navToggle()">
        <span class="icon">
          <i class="material-icons">
            map
            </i>
        </span>
        <span>Map</span>
      </a>
      <a class="navbar-item" routerLink="about" (click)="navToggle()">
        <span class="icon">
          <i class="material-icons">
            info
            </i>
        </span>
        <span>About</span>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <button class="button is-small is-rounded" tooltip="Notifications" (click)="subscribe()" [disabled]="isSub">
          <span class="icon is-small">
            <i class="material-icons">
              notifications_active
            </i>
          </span>
          <span>
            Subscribe
          </span>
        </button>
      </div>
      <div class="navbar-item" style="display: flex; justify-content: center;">
        <div class="tags has-addons are-medium">
          <span class="tag">Last Update:</span>
          <span *ngIf="lastUpdate" class="tag is-success">{{ lastUpdate }} ago</span>
          <span *ngIf="!lastUpdate" class="tag is-danger">down</span>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
