<section>
  <div class="pageloader is-bottom-to-top" [class.is-active]="isLoading"><span class="title">Loading...</span></div>
  <div
    class="container is-fluid"
    *ngIf="country"
    style="text-align: center;margin-top: 1rem;"
  >
    <div class="columns is-mobile is-vcentered">
      <div class="column">
        <button class="button is-rounded is-pulled-right" tooltip="Back" (click)="goBack()">
          <span class="icon">
            <i class="material-icons">
              arrow_back
              </i>
          </span>
        </button>
      </div>
      <div class="column is-half">
        <figure class="image is-64x64" style="margin: 10px auto;">
          <img src="../../assets/svg/{{ iconName }}.svg" onerror="this.src = '../../assets/svg/white.svg';" />
        </figure>
        <h1 class="title is-2">{{ country.name }}</h1>
      </div>
      <div class="column">
        <button class="button is-rounded is-pulled-left" tooltip="Notifications" (click)="subscribe()" [disabled]="isSub">
          <span class="icon">
            <i class="material-icons">
              notifications_active
              </i>
          </span>
        </button>
      </div>
    </div>
    <div class="columns is-centered" style="text-align: center;">
      <div class="column"></div>
      <div class="column ">
        <button
          class="button is-danger is-outlined is-rounded is-medium"
          [class.is-hovered]="selectedType === 'toll'"
          (click)="switchType('toll')"
        >
          Confirmed: {{ country.toll }}
        </button>
      </div>
      <div class="column">
        <button
          class="button is-primary is-outlined is-rounded is-medium"
          [class.is-hovered]="selectedType === 'recovered'"
          (click)="switchType('recovered')"
        >
          Recovered: {{ country.recovered }}
        </button>
      </div>
      <div class="column">
        <button
          class="button is-warning is-outlined is-rounded is-medium"
          [class.is-hovered]="selectedType === 'deaths'"
          (click)="switchType('deaths')"
        >
          Dead: {{ country.deaths }}
        </button>
      </div>
      <div class="column">
        <button
          class="button is-link is-outlined is-rounded is-medium"
          [class.is-hovered]="selectedType === 'sick'"
          (click)="switchType('sick')"
        >
          Active: {{ country.sick }}
        </button>
      </div>
      <div class="column"></div>
    </div>
      <div class="columns is-centered">
        <div class="column is-four-fifths" style="height: 50vh;">
          <ngx-charts-area-chart
          [scheme]="lineChartColorScheme"
          [legend]="false"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
          [xAxis]="true"
          [yAxis]="true"
          xAxisLabel="Date"
          yAxisLabel="Number Of Cases"
          [yScaleMax]="maxScale"
          [timeline]="false"
          [results]="lineChartData"
          [showGridLines]="false"
          [curve]="curve"
        >
        </ngx-charts-area-chart>
        </div>
      </div>
  </div>
</section>
